body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.search-form{
  padding: 30px 0 0;

}
.search-form-input{
  width: 100%;
  padding: 15px 10px;
}
